<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop class="Predict\Loop\CheckRightsLoop" name="predict.check.rights" />
        <loop class="Predict\Loop\NotSendLoop" name="predict.notsend.loop" />
        <loop class="Predict\Loop\Price" name="predict" />
    </loops>

    <forms>
        <form name="predict.export" class="Predict\Form\ExportForm" />
        <form name="predict.single.export"  class="Predict\Form\SingleExportForm" />
        <form name="predict.freeshipping.form" class="Predict\Form\FreeShipping" />
    </forms>

    <services>
        <service id="predict.cellphone.checker" class="Predict\EventListeners\CellphoneCheck">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
