<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Predict\Predict</fullnamespace>
    <descriptive locale="en_US">
        <title>Predict by Exapaq module</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Livraison en 24/48H dans un créneau horaire précis (parmi des choix proposés par Exapaq) </title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Benjamin Perche</name>
        <email>bperche@openstudio.fr</email>
    </author>
    <type>delivery</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
