<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Predict\Predict</fullnamespace>
    <descriptive locale="en_US">
        <title>Predict by DPD module</title>
        <subtitle>24h / 48H delivery within a specific time slot (from the choices offered by DPD).</subtitle>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Livraison en 24/48H dans un créneau horaire précis (parmi des choix proposés par DPD) </title>
        <subtitle> Livraison en 24/48H dans un créneau horaire précis (parmi des choix proposés par DPD). </subtitle>

    </descriptive>
    <version>2.1.6</version>
    <author>
        <name>Benjamin Perche</name>
        <email>bperche@openstudio.fr</email>
    </author>
    <type>delivery</type>
    <thelia>2.5.2</thelia>
    <stability>other</stability>
</module>
